<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventKitTest1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F49DF38C1E9D39F7009A233D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49DF3A01E9D39F8009A233D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49DF3AB1E9D39F8009A233D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
